/BubbleSort.class
/CocktailShakerSort.class
/CountingSort.class
/DoubleSelectionSort.class
/InsertionSort.class
/MergeSort.class
/OddEvenSort.class
/OptimizedBubbleSort.class
/QuickSort.class
/RadixSort.class
/SelectionSort.class
/Settings.class
/ShellSort.class
/Sort.class
